<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="includes/header :: header"> </head>
    <body class="sb-nav-fixed">
         <nav th:replace="includes/nav :: nav"> </nav>
         <div id="layoutSidenav">
            <div th:replace="includes/sideNav :: sideNav"> </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        
                    </div>
                </main>
                <div class="container">
				    <div class="row">
				      <div class="col-lg-10 col-xl-9 mx-auto">
				        <div class="card card-signin flex-row my-5">
				          <div class="card-img-left d-none d-md-flex">
				             <!-- Background image for card set in CSS! -->
				          </div>
				          <div class="card-body">
				            <h5 class="card-title text-center">Sửa thông tin</h5>
				            <form class="form-signin" action="#" th:action="@{/savePayment}" th:object="${payment}"
							method="post">
								<div class="form-label-group">
					            	<label for="inputMachineId">Machine id</label>
					            	<input type="hidden" id="inputId" class="form-control" th:field="*{id}"></input>
					            	<input type="hidden" id="inputMapId" class="form-control" th:field="*{mapId}"></input>
					                <input type="text" id="inputMachineId" class="form-control" placeholder="Machine id" th:field="*{machineId}" ></input>
					            </div>
				              <div class="form-label-group">
					            	<label for="inputCode">Code</label>
					                <input type="text" id="inputCode" class="form-control" placeholder="Code" th:field="*{code}" ></input>
					            </div>
				           <div class="form-label-group">
			              	<label for="inputEpayDate">Ngày thanh toán</label>
			                <input type="date" id="inputEpayDate" class="form-control" placeholder="Ngày thanh toán" th:field="*{epayDate}"></input>
			                
			              </div>
			      
			              <div class="form-label-group">
			              	<label for="inputNextPayDate">Ngày thanh toán tiếp </label>
			                <input type="date" id="inputNextPayDate" class="form-control" placeholder="Ngày thanh toán tiếp" th:field="*{nextPayDate}"></input>
			                
			              </div>
			          
							<div class="form-label-group">
				              <label for="inputStatus">Trạng thái</label>
				               <select id="inputStatus" name="inputStatus" class="form-control" th:field="*{status}">
									<option value="" selected="selected"></option>
									<option value="0">Chưa thanh toán</option>
									<option value="1">Chuyển khoản</option>
									<option value="2">Đã thanh toán qua VNPT Epay</option>
									<option value="3">Hủy</option>
								</select>
				              </div>
				              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cập nhật</button>
				              
				            </form>
				          </div>
				        </div>
				      </div>
				    </div>
				  </div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
    </body>
    <footer th:replace="includes/footer :: footer"> </footer>
</html>
