<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="includes/header :: header"> </head>
    
    <body class="sb-nav-fixed">
         
         <nav th:replace="includes/nav :: nav"> </nav>
         <div id="layoutSidenav">
            <div th:replace="includes/sideNav :: sideNav"> </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        
                    </div>
                </main>
                <div class="col-3"></div>  
				<div class="container col-6">
					<h1>Danh sách khách hàng</h1>
				    <form class="form-signin" action="#" id="frmSearch" th:action="@{/searchPayment}" th:object="${paymentSearch}"
					method="post"> 
						<div class="form-label-group">
			              	<label for="inputEmail">Email</label>
			                <input type="text" id="inputEmail" class="form-control" placeholder="Email" autofocus="autofocus" th:field="*{email}"></input>
			                
			              </div>
			              <div class="form-label-group">
			              	<label for="inputPhone">Phone</label>
			                <input type="text" id="inputPhone" class="form-control" placeholder="Phone" th:field="*{phone}"></input>
			                
			              </div>
			              <div class="form-label-group">
			              	<label for="inputMachineId">Machine id</label>
			                <input type="text" id="inputMachineId" class="form-control" placeholder="Machine Id" th:field="*{machineId}"></input>
			                
			              </div>
			           <div class="form-label-group">
			              	<label for="inputPackage">Gói</label>
			                <select class="form-control" id="inputPackage" name="inputPackage" th:field="*{packageId}">
						        <option value="">Chọn gói</option>
						        <option th:each="packages : ${packages}"
						                th:value="${packages.id}"
						                th:text="${packages.category}+' : '+${packages.name}"></option>
						    </select>
			              </div>
			           <div class="form-label-group">
			              	<label for="inputEpayDateStart">Ngày bắt đầu</label>
			                <input type="date" id="inputEpayDateStart" class="form-control" placeholder="Ngày bắt đầu" th:field="*{epayDateStart}"></input>
			                
			              </div>
			           <div class="form-label-group">
			              	<label for="inputEpayDateEnd">Ngày kết thúc</label>
			                <input type="date" id="inputEpayDateEnd" class="form-control" placeholder="Ngày kết thúc" th:field="*{epayDateEnd}"></input>
			                
			              </div>
			              <div class="form-label-group">
			              	<label for="inputNextPayDateStart">Ngày hủy bắt đầu</label>
			                <input type="date" id="inputNextPayDateStart" class="form-control" placeholder="Ngày hủy bắt đầu" th:field="*{nextPayDateStart}"></input>
			                
			              </div>
			           <div class="form-label-group">
			              	<label for="inputNextPayDateEnd">Ngày hủy kết thúc</label>
			                <input type="date" id="inputNextPayDateEnd" class="form-control" placeholder="Ngày hủy kết thúc" th:field="*{nextPayDateEnd}"></input>
			                
			              </div>  
			              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Tìm kiếm</button>        
					</form> 
					
					<table class="table table-active" id="headerTable">  
				        <tr>  
				            <th>Email</th>  
				            <th>Gói</th>	
				            
				            <th>Số tiền</th>
				            <th>Số điện thoại</th>
				            <th>Machine id</th>
				            <th>Trạng thái</th>
				            <th>Ngày thanh toán</th>
				            <th>Ngày thanh toán tiếp</th>
				            <th>Code</th>
							<th>Edit</th>  
				        </tr>  
				        <tr th:each="p : ${payment}">  
				            <td th:text="${p.email}"></td>  
				            <td th:text="${p.name}"></td>  				            
				             <td th:text="${p.price}"></td>
				             	<td th:text="${p.phone}"></td>
				             	<td th:text="${p.machineId}"></td>
				             	<td th:text="${p.status}"></td>		
				        	<td th:text="${p.epayDate}"></td>
				        	<td th:text="${p.nextPayDate}"></td>
				        	<td th:text="${p.code}"></td>
				        	<td>  
				                <a th:href="@{/editPayment?id={id}(id=${p.id})}" class="btn btn-primary">Edit</a>
				                
				                 
				            </td> 
				        </tr>  
				        
				    </table> 
				</div>
				
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
    </body>
    <footer th:replace="includes/footer :: footer"> </footer>
</html>
