<!DOCTYPE html>
<html lang="en">
    <head th:replace="includes/header :: header"> </head>
    <body class="sb-nav-fixed">
    
        <nav th:replace="includes/nav :: nav"> </nav>
        <div id="layoutSidenav">
            <div th:replace="includes/sideNav :: sideNav"> </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <form class="form-signin" action="#" th:action="@{/saveTables}" th:object="${user}"
						method="post">
			              <div class="form-label-group">
			              	<input type="hidden" id="inputId" class="form-control" placeholder="Id" th:field="*{id}"></input>
			                <input type="text" id="inputEmail" class="form-control" placeholder="Email" th:field="*{email}"></input>
			                
			              </div>
			
			              <div class="form-label-group">
			                <label for="inputPhone">Phone</label>
			                <input type="text" id="inputPhone" class="form-control" placeholder="Phone" required="required" th:field="*{phone}"></input>
			               
			              </div>
			              
			              <div class="form-label-group">
			                <label for="inputMachineId">Machine Id</label>
			                <input type="text" id="inputMachineId" class="form-control"  placeholder="Machine Id" required="required" th:field="*{machineId}"></input>
			               
			              </div>
			
			               <div class="form-label-group">
			                <input type="hidden" id="inputPassword" class="form-control"  placeholder="Password" th:field="*{password}"></input>
			                <label for="inputNewPassword">Password mới</label>
			                <input type="text" id="inputNewPassword" class="form-control"  placeholder="Password mới" th:field="*{newPassword}"></input>
			               
			              </div>
			
			              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cập nhật</button>
			              
			              <hr class="my-4"></hr>
			             
			            </form>
                        
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
    </body>
    <footer th:replace="includes/footer :: footer"> </footer>
</html>
